<body xmlns:th="http://www.thymeleaf.org">
	<script type="text/javascript" th:src="@{/assets/plugins/jquery/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/plugins/jquery-ui/js/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/plugins/popper.js/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" th:src="@{/assets/plugins/jquery-slimscroll/js/jquery.slimscroll.js}"></script>
    <!-- modernizr js -->
    <script type="text/javascript" th:src="@{/assets/plugins/modernizr/js/modernizr.js}"></script>
    <script type="text/javascript" th:src="@{/assets/plugins/modernizr/js/css-scrollbars.js}"></script>
    <script th:src="@{/assets/js/pcoded.min.js}"></script>
    <script th:src="@{/assets/js/vartical-layout.min.js}"></script>
    <script th:src="@{/assets/js/jquery.mCustomScrollbar.concat.min.js}"></script>
    <!-- Custom js -->
    <script type="text/javascript" th:src="@{/assets/js/script.js}"></script>
    <script src="http://cdn.ckeditor.com/4.11.4/full/ckeditor.js"></script>
    <script src="http://cdn.ckeditor.com/4.4.7/standard-all/adapters/jquery.js"></script>
    <script>
    
    function fileuploadtext() {
        var path = document.getElementById("file_upload").value;
        alert(path);
    }

    
    </script>
</body>